//Settings: variables and definitions
@import 'settings/index.scss';
@import 'settings/mixins.scss';

body {
    background: $grayish-blue2;
    font-family: $karla;

    .grid {

        .item-community {
            background: white;
            
            h3 {
                color: $cyan;
            }

            h4 {
                color: $bright-yellow;
            }

            p {
                color: $grayish-blue;
                line-height: 2;
            }
        }

        .item-subscription {
            background: $cyan2;

            h1, h3 {
                color: $light-gray;
            }

            .price h2 {
                color: $light-gray;
                font-weight: $sevenhundred;
            }

            .price span {
                color: $gray;
                font-weight: $fourhundred;
            }

            p {
                color: $light-gray;
                margin-top: 0;
            }

            button {
                border-radius: 5px;
                color: $light-gray;
                border: none;
                background-color: $bright-yellow;
                font-family: $karla;
                font-weight: 700;
                box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.2);
                margin-top: 20px;
                padding: 15px 100px;
            }

            button:hover {
                background-color: $green;
            }
        }

        .item-whyus {
            background: $cyan;
            h3 {
                color: $light-gray;
            }

            ul {
                padding: 0;

                li {
                    color: $light-gray2;
                    margin: 8px 0;
                    list-style: none;
                }
            }

        }
    }


    footer {
        .attribution {
            font-size: 11px;
            text-align: center;
        }

        .attribution a {
            color: hsl(228, 45%, 44%);
        }
    }
}


@include max-width;

@include min-width;