//Settings: variables and definitions
@import 'settings/index.scss';

body {
    background: $grayish-blue2;
    font-family: $karla;

    .grid {

        .item-community {
            background: white;
            
            h3 {
                color: $cyan;
            }

            h4 {
                color: $bright-yellow;
            }

            p {
                color: $grayish-blue;
                line-height: 2;
            }
        }

        .item-subscription {
            background: $cyan2;

            h1, h3 {
                color: $light-gray;
            }

            .price h2 {
                color: $light-gray;
                font-weight: $sevenhundred;
            }

            .price span {
                color: $gray;
                font-weight: $fourhundred;
            }

            p {
                color: $light-gray;
                margin-top: 0;
            }

            .button {
                display: flex;
                border-radius: 5px;
                color: $light-gray;
                border: none;
                background-color: $bright-yellow;
                font-family: $karla;
                font-weight: 700;
                box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.2);
                margin-top: 20px;
                text-decoration: none;
            }

            .button:hover {
                background-color: $green;
            }
        }

        .item-whyus {
            background: $cyan;
            h3 {
                color: $light-gray;
            }

            p {
                color: $light-gray2;
                margin: 8px 0;
            }
        }
    }


    footer {
        .attribution {
            font-size: 11px;
            text-align: center;
        }

        .attribution a {
            color: hsl(228, 45%, 44%);
        }
    }
}

@media (max-width: 800px) {
    .grid {
        display: grid;
        grid-template-rows: 1fr 0.8fr 1fr;
        padding: 20px;
        margin: 40px 0; 
        
        .item-community, .item-subscription, .item-whyus {
            padding: 25px;

            h3 {
                margin-top: 0;
            }
        }

        .item-community {
            border-radius: 5px 5px 0 0;
        }


        .item-subscription {
            .price {
                display: flex;
                align-items: center;
            }

            .price span {
                padding-left: 10px;
            }

            .button {
                padding: 15px 110px;
            }

            h3 {
                margin-bottom: 0;
            }
        }


        .item-whyus {
            border-radius: 0 0 5px 5px;
        }
    }

}


@media (min-width: 801px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "item-community item-community"
            "item-subscription item-whyus";
        margin: 140px auto;
        width: 800px;
        

        .item-community,
        .item-subscription,
        .item-whyus {
            padding: 50px;
        
            h3 {
                margin-top: 0;
            }
        }

        .item-community {
            border-radius: 5px 5px 0 0;
            grid-area: item-community;

            h4 {
                padding-top: 8px;
                margin-bottom: 0;
            }
        }


        .item-subscription {
            border-radius: 0 0 0 5px;
            grid-area: item-subscription;

            .price {
                display: flex;
                align-items: center;
            }

            .price span {
                padding-left: 10px;
            }

            .button{
                padding: 15px 120px;
            }

        }

        .item-whyus {
            grid-area: item-whyus;
            border-radius: 0 0 5px 0;
        }

    }
}