$cyan: hsl(179, 62%, 43%);
$bright-yellow: hsl(71, 73%, 54%);
$light-gray: hsl(204, 43%, 93%);
$light-gray2: hsla(204, 43%, 93%, .8);
$gray: hsla(204, 43%, 93%, .5);
$grayish-blue: hsl(218, 22%, 67%);